*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #eeeeee !important;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  height: 6rem;
  width: 100%;
  color: #fff;
  background: #3a506b  no-repeat right 10px;
  background-size: contain;
  position: relative;
    h1 {
      color: rgb(255,255,255);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.25rem;
    }
    a {
      display: inline-block;
      margin: 10px;
      padding: 10px;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      &.active,
      &:hover {
        background-color: #0085F3;
      }
    }
    @media (max-width: 699px) {
      h1{
        font-size: 2rem;
      }
    }
    @media (max-width: 599px) {
      h1{
        font-size: 1.75rem;
      }
    }
  -webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.56);
  box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.56);
}

footer {
  // position: fixed;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem; 

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3a506b ;
  color: white;
  text-align: center;
  height: 6rem;
  -webkit-box-shadow: 0px -6px 5px -4px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px -6px 5px -4px rgba(0,0,0,0.56);
  box-shadow: 0px -6px 5px -4px rgba(0,0,0,0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    color: white;
  }
  @media (max-width: 699px) {
    h3{
      font-size: 1.5rem;
    }
  }
  @media (max-width: 599px) {
    h3{
      font-size: 1.25rem;
    }
  }
}

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
  padding-left: 0%;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}

.primary{
  background-color: #5bc0be;
  color: rgb(255,255,255);
  &:hover, &:focus  {
    background-color: #499998;
    color: rgb(200,200,200);
    border-color: #5bc0be;
  }
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 0px solid #5bc0be;
}

.warning{
  background-color: #c0675b;
  color: rgb(255,255,255);
  &:hover, &:focus  {
    background-color: #945047;
    color: rgb(200,200,200);
    border-color: #945047;
  }
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 0px solid #000000;
}

.sucess{
  background-color: #5bc068;
  color: rgb(255,255,255);
  &:hover, &:focus  {
    background-color: #4ca358;
    color: rgb(200,200,200);
    border-color: #4ca358;
  }
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 0px solid #000000;
}

.export{
  background-color: #5bc068;
  color: rgb(255,255,255);
  &:hover, &:focus  {
    background-color: #4ca358;
    color: rgb(200,200,200);
    border-color: #4ca358;
  }
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 0px solid #000000;
  top: 0;
  width: 6em;
}

.menu{
  background-color: #3a506b;
  color: rgb(255,255,255);
  padding-left: 0 !important; 
  padding-right: 0 !important; 
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100% !important; 
  &:hover, &:focus  {
    background-color: #2d3f55;
    color: rgb(200,200,200);
    border-color: #2d3f55;
  }
}

#canvas{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  height: 400px;
  width: 800px !important;

}

@media (max-width: 1200px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 700px !important;
  }
}

@media (max-width: 1100px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 600px !important;
  }
}

@media (max-width: 991px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 600px !important;
  }
}

@media (max-width: 650px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 500px !important;
  }
}

@media (max-width: 500px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px !important;
  }
}

@media (max-width: 400px) {
  #canvas {
    margin-top: 1.5em;
    margin-bottom: 2rem;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px !important;
  }
}


.table{
  width: 100%;
  padding-left: 0 !important; 
  padding-right: 0 !important; 
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media (max-width: 991px) {
  .below-buttons{
    margin-top: 1em !important;
  }
}

@media (max-width: 322px) {
  .below-button-1{
    margin-top: 1em !important;
  }
}

@media (max-width: 385px) {
  .below-button-2{
    margin-top: 1em !important;
  }
}

@media (max-width: 1079px) {
  .below-button-3{
    margin-top: 1em !important;
  }
}

@media (minwidth: 376px) {
  .below-buttons{
    margin-top: 1em !important;
  }
}


.bulgy-radios {
  width: 100%;
  background: #eeeeee;
  padding: 3rem 0 0rem 0rem;
  border-radius: 1rem;
  label {
    display: block;
    position: relative;
    height: 1em;
    padding-left: 2.5rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
    font-size: 0.75rem;
    user-select: none;
    color: #555;
    letter-spacing: 1px;
    &:hover input:not(:checked) ~ .radio {
      opacity: 0.8;
    }
  }
  .label {
    display: flex;
    align-items: center;
    padding-right: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
      line-height: 1em;
    }
  }
  input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    left: -2000px;

    &:checked {
      ~ .radio {
        background-color: #0ac07d;
        transition: background .3s;
        &::after {
          opacity: 1;
        }
      }
      ~ .label {
        color: #0bae72;
        span {
          animation: bulge .5s forwards;
        }

        //adjust this if label is going to be more than 20 chars
        @for $i from 1 to 20 {
          span:nth-child(#{$i}) { animation-delay: $i * 0.025s; }
        }
      }
    }
  }
}
.radio {
  top: -0.1rem;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #c9ded6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-500%, -50%);
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: .25rem;
    left: .25rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #fff;
  }
}